<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta
      name="keywords"
      content="Illinois EWMA,
      Illinois Eagle Wings Motorcycle Association,
      Peoria EWMA,
      Peoria Eagle Wings Motorcycle Association,
      Illinois Goldwings,
      Peoria Goldwings,
      Illinois Gold Wings,
      Peoria Gold Wings"
    />
    <!-- Favicons generics -->
    <link rel="icon" href="<%= BASE_URL %>favicon-32.png" sizes="32x32" />
    <link rel="icon" href="<%= BASE_URL %>favicon-57.png" sizes="57x57" />
    <link rel="icon" href="<%= BASE_URL %>favicon-76.png" sizes="76x76" />
    <link rel="icon" href="<%= BASE_URL %>favicon-96.png" sizes="96x96" />
    <link rel="icon" href="<%= BASE_URL %>favicon-128.png" sizes="128x128" />
    <link rel="icon" href="<%= BASE_URL %>favicon-192.png" sizes="192x192" />

    <!-- iOS -->
    <link
      rel="apple-touch-icon"
      href="<%= BASE_URL %>favicon-120.png"
      sizes="120x120"
    />
    <link
      rel="apple-touch-icon"
      href="<%= BASE_URL %>favicon-152.png"
      sizes="152x152"
    />
    <link
      rel="apple-touch-icon"
      href="<%= BASE_URL %>favicon-180.png"
      sizes="180x180"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&family=Roboto:ital,wght@0,400;0,700;1,400&family=Merienda+One&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/ad3cbc6e5b.js"
      crossorigin="anonymous"
    ></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
