/* main.css */

:root {
    --purple: #2e1e5c;
    --yellow: #eca706;
    --displayFont: 'Roboto Slab';
    --textFont: 'Roboto';
    --textColor: #111;
    --white:#eee;
}

body {
    margin:0;
    font-family:var(--textFont);
    color:var(--textColor);
    background-color:var(--white);
}

h2 {
    font-family:var(--displayFont);
}

main {
    width:75vw;
    margin:0 auto;
    display:grid;
    grid-template-columns:1fr 20vw;
    gap:12px;
    padding:6px 12px;
    min-height:calc(100vh - 401px);
}

main h2 {
    margin-top:0;
}

main aside {
    border-radius:5px;
    padding:6px 12px;
    background-color:var(--purple);
    color:var(--white);
}

main aside .event {
    border:2px solid var(--yellow);
    border-radius:5px;
    padding:6px 12px;
    margin-bottom:5px;
}

main aside .event .title {
    font-weight:bold;
    color:var(--yellow);
    font-family:var(--displayFont);
    margin-top:0;
}

main aside .event .dateTime {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

main aside .event .dateTime p {
    margin-bottom:0;
}

main aside .event i {
    margin-right:5px;
}

main aside .event a {
    color:var(--white);
    text-decoration:none;
}

main aside .event a:hover {
    color:var(--yellow);
    text-decoration:underline;
}

@media (max-width: 576px) {
    main {
        grid-template-columns:1fr;
        width:90vw;
    }
}
