/* main.css */

:root {
    --purple: #2e1e5c;
    --yellow: #eca706;
    --displayFont: 'Roboto Slab';
    --textFont: 'Roboto';
    --textColor: #111;
    --white:#eee;
    --scriptFont: 'Merienda One';
}

body {
    margin:0;
    font-family:var(--textFont);
    color:var(--textColor);
    background-color:var(--white);
}

h2 {
    font-family:var(--displayFont);
}

main {
    width:75vw;
    margin:0 auto;
    display:grid;
    grid-template-columns:1fr 20vw;
    gap:12px;
    padding:6px 12px;
    min-height:calc(100vh - 401px);
}

main h2 {
    margin-top:0;
    font-size:3em;
}

#gwrraText {
    font-size:2em;
}

.subheading {
    font-size:1.5em;
    color:var(--purple);
    font-family:var(--scriptFont);
}

.purple {
    color:var(--purple);
}

/* #sponsorTest {
    width:100%;
    height:120px;
    padding:6px 12px;
    background-color:#000;
}

#sponsorTest img {
    max-width:100%;
    height:auto;
    max-height:120px;
}

#sponsorTest.square {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:5px;
    text-align: center;
    justify-content:center;
}

#sponsorTest .wrapper {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100%;
} */

.covid {
    color:#f00;
    font-weight:bold;
    font-size:1.05em;
}

main aside {
    border-radius:5px;
    padding:6px 12px;
    background-color:var(--purple);
    color:var(--white);
}

main aside h2 {
    font-size:2em;
}

main aside .event {
    border:2px solid var(--yellow);
    border-radius:5px;
    padding:6px 12px;
    margin-bottom:5px;
}

main aside .event .title {
    font-weight:bold;
    color:var(--yellow);
    font-family:var(--displayFont);
    margin-top:0;
}

main aside .event .dateTime {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

main aside .event .dateTime p {
    margin-bottom:0;
}

main aside .event i {
    margin-right:5px;
}

main aside .event a {
    color:var(--white);
    text-decoration:none;
}

main aside .event a:hover {
    color:var(--yellow);
    text-decoration:underline;
}

#newsletters {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:20px;
}

.newsletter {
    text-decoration:none;
}

.newsletter:hover div {
    color:var(--yellow);
}

.newsletter div {
    border:5px solid var(--purple);
    padding:6px 12px;
    border-radius:5px;
    font-size:1.5em;
    color:var(--textColor);
    text-align:center;
}

.newsletter div p {
    margin:0;
}

.newsletter div i {
    font-size:2em;
    color:var(--purple);
    margin-top:10px;
}

.newsletter:hover div i {
    color:var(--yellow);
}


@media (max-width: 768px) {
    main, #newsletters {
        grid-template-columns:1fr;
        width:90vw;
    }
}
