/* main.css */

:root {
    --purple: #2e1e5c;
    --yellow: #eca706;
    --displayFont: 'Roboto Slab';
    --textFont: 'Roboto';
    --textColor: #111;
    --white:#eee;
}

body {
    margin:0;
    font-family:var(--textFont);
    color:var(--textColor);
    background-color:var(--white);
}

#mainHeader {
    background-color:var(--purple);
}

#mainHeader div {
    width:75vw;
    margin:0 auto;
    display:grid;
    grid-template-columns:150px 1fr;
    gap:0 20px;
}

nav {
    grid-column-start: 2;
    display:flex;
    justify-content:flex-start;
    align-items:baseline;
}

nav a {
    color:var(--white);
    text-decoration:none;
    margin-right:20px;
}

nav a:hover {
    color:var(--yellow);
}

#mainHeader div img {
    height:150px;
    width:auto;
    transform:translateY(10px);
}

h1, h2 {
    font-family:var(--displayFont);
}

#mainHeader h1 {
    color:var(--white);
    margin:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:3em;
}

#subHeader {
    width:75vw;
    margin: 0 auto;
    display:grid;
    grid-template-columns:150px 1fr 150px;
    gap:5px;
    padding:6px 12px;
}

#subHeader img {
    height:150px;
    width:auto;
}

#sponsor {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    background-color:#ccc;
    border:2px dashed #000;
}

main {
    width:75vw;
    margin:0 auto;
    display:grid;
    grid-template-columns:1fr 20vw;
    gap:12px;
    padding:6px 12px;
    min-height:calc(100vh - 401px);
}

main h2 {
    margin-top:0;
}

main aside {
    border-radius:5px;
    padding:6px 12px;
    background-color:var(--purple);
    color:var(--white);
}

main aside .event {
    border:2px solid var(--yellow);
    border-radius:5px;
    padding:6px 12px;
    margin-bottom:5px;
}

main aside .event .title {
    font-weight:bold;
    color:var(--yellow);
    font-family:var(--displayFont);
    margin-top:0;
}

main aside .event .dateTime {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

main aside .event .dateTime p {
    margin-bottom:0;
}

main aside .event i {
    margin-right:5px;
}

main aside .event a {
    color:var(--white);
    text-decoration:none;
}

main aside .event a:hover {
    color:var(--yellow);
    text-decoration:underline;
}

footer {
    background-color:var(--purple);
    height:50px;
    width:100vw;
}

footer div {
    width:75vw;
    height:100%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:var(--white);
}

footer a {
    color:var(--white);
    font-size:2em;
}

footer a:hover {
    color:var(--yellow);
}
