#staffContainer {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:10px;
}

.staff {
    border:1px solid var(--textColor);
    border-radius:5px;
    padding:6px 12px;
    text-align:center;
}

.staff img {
    width:150px;
    height:auto;
    border-radius:50%;
}

.title {
    font-size:1.25em;
    color:var(--purple);
}

.name {
    font-weight:bold;
    font-size:1.15em;
    text-decoration:none;
    color:var(--textColor);
}

.name:hover {
    color:var(--yellow);
    text-decoration:underline;
}